<h3><%= @group.name %></h3>
<hr>

<%= simple_form_for @group do |f| %>
  <%= f.input :name, label: 'Nom de la classe' %>
  <%= f.button :submit, 'Enregistrer les modifications' %>
<% end %>

<p>ou <%= link_to 'supprimer', @group, method: :delete, data: { confirm: 'Etes vous sûr(e) ?' } %> définitivement cette classe.</p>

<a class="close-reveal-modal">&#215;</a>
