<div id="show-group" class="row">
  <div class="small-12 columns">
    <ul class="tabs vertical">
      <%= render @groups %>
      <li id="new-group-link" class="tab-title">
        <%= link_to new_group_path, data: { reveal_id: 'new-group', reveal_ajax: true } do %>
          <i class="icon-plus"></i> Nouvelle classe
        <% end %>
      </li>
    </ul>

    <div class="tabs-content vertical">
      <div class="content active">
        <div class="row">
          <div class="small-12 medium-9 columns">
            <div id="new-message">
              <%= render 'messages/new' %>
            </div>

            <div id="sent-messages">
              <h5><i class="icon-paper-plane"></i> Messages envoyés</h5>
              <hr>
              <% if @group.messages.present? %>
                <%= render @group.messages.ordered %>
              <% else %>
                <%= render 'messages/blankslate' %>
              <% end %>
            </div>
          </div>
          <div class="medium-3 columns hide-for-small">
            <%= link_to new_group_subscriber_path(@group), class: 'button', data: { reveal_id: 'new-subscription', reveal_ajax: true } do %>
              <i class="icon-user-follow"></i> Ajouter des parents
            <% end %>

            <div id="subscribers">
              <header>
                <h6><i class="icon-users"></i> <%= pluralize(@group.subscribers.size, 'inscrit', 'inscrits') %></h6>
              </header>
              <% if @group.subscribers.present? %>
                <ol>
                  <%= render @group.subscribers %>
                </ol>
              <% else %>
                <%= render 'subscribers/blankslate' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="new-group" class="reveal-modal medium" data-reveal></div>
<div id="edit-group" class="reveal-modal medium" data-reveal></div>
<div id="new-subscription" class="reveal-modal medium" data-reveal></div>
