<li class="subscription">
  <%= link_to subscription.subscriber.name, '', data: { dropdown: "hover-#{subscription.subscriber.id}", options: 'is_hover:true; align:left' } %>

  <div id=<%= "hover-#{subscription.subscriber.id}" %> data-dropdown-content class="f-dropdown content subscriber">
    <h6><%= subscription.subscriber.name %></h6>
    <p><i class="icon-call-out"></i> <%= subscription.subscriber.phone.phony_formatted(format: :national) %></p>
    <p><%= link_to 'Supprimer de cette liste', [@group, subscription], method: :delete, data: { confirm: 'Etes vous sûr(e) ?' } %>
  </div>
</li>
